{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Склад - Управление вашим складом онлайн</title>
    <link rel="stylesheet" href="{%static 'main/css/layout.css'%}">
</head>
<body>
    <header>
        <div class="container header-content">
            <div class="logo">
                <a href="{% url 'home' %}" class="logo-link">
                <span class="logo-icon">📦</span>
                <span>Мой Склад</span>
            </a>
            </div>
            <nav class="auth-links">
                {% if request.user.is_authenticated %}
                    <span>{{ request.user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn">Выйти</a>
                {% else %}
                    <a href="/login" class="login">Войти</a>
                    <a href="{% url 'register' %}" class="register">Регистрация</a>
                {% endif %}
            </nav>
        </div>
    </header>

    {# Оборачиваем блок content в тег <main> для семантики и стилизации #}
    <main class="container">
        {% block content %}

        {% endblock %}
    </main>

    <footer>
    <div class="container">
        <p>© 2025 Мой Склад. Все права защищены.</p>
    </div>
    </footer>
    
</body>
</html>