.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-container form {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    border-radius: 8px;
}

.login-container h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.login-container h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.login-container label {
    font-size: 20px;
}

.login-container input{
    padding: 5px; /* Увеличить внутренний отступ */
    border: 2px solid #ccc; /* Изменить границу */
}



.login-container button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}