.registration-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration-container form{
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    border-radius: 8px;
    text-align: left; 
}

.registration-container h2{
    font-size: 34px;
    text-align: center;
    margin-top: 20px; 
}

.registration-container form p {
    margin-bottom: 15px; 
}

.registration-container label {
    font-size: 20px;
    display: block; 
    margin-bottom: 5px; 
}

.registration-container input{
    padding: 10px; 
    border: 2px solid #ccc; 
    width: 100%;
    box-sizing: border-box; 
    border-radius: 4px;
    font-size: 24px;
}

.registration-container button{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    font-size: 20px;
}

.registration-container button:hover{
    background-color: #0056b3;
}
